doctype html
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Office Supplies Ordering
link(rel='stylesheet', href='css/home.css')
.center-text
  h1.main-head  Welcome To Our Store
  .main-head
    a.link(href='http://localhost:3000/') Home 
    span.link &nbsp;|&nbsp;
    a.link(href='http://localhost:3000/vendors') Vendors 
    span.link &nbsp;|&nbsp;
    a.link(href='http://localhost:3000/addVendor') Add New Vendor 
    